<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <title>Appetite Order Delivery</title>
</head>

<body>
    <nav th:fragment="nav">
        <header>
            <ul>
                <li>
                    <a href="/home" class="nav-link" aria-current="page">Home</a>
                </li>
            </ul>
        </header>


        <form action="/order/add" method="POST" th:object="${orderDetail}">
            <fieldset>
                <select name="" id="" th:field="${orderDetail.foodId}">
                    <option th:each="food, count : ${foods}" th:value="${food.foodId}" th:text="${food.name}"></option>

                    </option>
                    <input type="number" value="1" min="1" th:field="${orderDetail.quantity}" />
                    <input type="submit" id="submitButton" th:value="Add" onclick="subTotal()">
                </select>

            </fieldset>
        </form>


        <form action="/order/save" method="POST" th:object="${orderx}">
            <fieldset>

                <table>

                    <tr>
                        <th>Food</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>subTotal</th>
                    </tr>


                    <tr th:each="order, x : ${ordersD}">
                        <td th:text="${order.foodName}" />
                        <td th:text="${order.quantity}" />
                        <td th:text="${order.price}" />
                        <td th:text="${order.subTotal}" />
                    </tr>
                </table>


                <br>
                <br>
                <div>
                    <label>TOTAL: </label>
                    <th th:text="${totalprice}"></th>
                    <br>
                    <br>
                </div>


                <input type="submit" id="submitButton" th:value="Save">
                <br>
                <br>
            </fieldset>



        </form>

        <form action="/order/reset" method="POST">
            <fieldset>
                <br>
                <br>
                <input type="submit" id="submitButton" th:value="Reset">

            </fieldset>
        </form>


</body>

</html>